* {
}

body {
  color: #444;
  font-family: sans-serif;
}

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5;
}

li {
  font-size: 20px;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  /* width - style - color*/
}

/* footer p {
  font-size: 16px;
} */

/*
article header p {
  font-style: italic;
}
*/

#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
}

.related {
  list-style: none;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.main-header {
  background-color: #f7f7f7;
}

/* .first-li {
  font-weight: bold;
} */

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

/* li:nth-child(2) {
  color: red;
} */

/* this wont work */
article p:first-child {
  color: red;
}

/* Styling links

use pseudo links to get access to all states of anchors

must be in below order 

*/

a:link {
  color: #1098ad;
  text-decoration: none; /* remove underline */
}

a:visited {
  /* display differently if clicked */
  /* color: gray; */
  color: #1098ad;
}

/* State of element  */

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}

a:active {
  background-color: black;
  font-style: italic;
}

/* Resolving Conflicts */

/* (1,0,0)
#copyright {
  color: red;
}

/* (0,1,0) */
/* .copyright {
  color: yellow;
} */

/* (0,1,0) */
/* .text {
  color: green;
} */

/* (0,0,2) */
/* footer p {
  color: blue !important;
}  */

/* Inheritance */

/* nav a:link, nav p {
  font-size: 22px;
} */

nav {
  font-size: 22px;
}
