* {
  margin: 0;
}

/* Main Elements */ 

body {
  color: #444;
  font-family: sans-serif;

  border-top: 10px solid #1098ad;
}

/* center everything  */
.container {
  width: 80%;
  margin: 0 auto;
}

nav {
  font-size: 22px;
}

.main-header {
  background-color: #f7f7f7;
  /* padding: 20px;
  padding-left: 40px;
  padding-right: 40px; */

  padding: 20px 40px;
  margin-bottom: 60px;
  /* height: 80px; */
}

article {
  margin-bottom: 60px;
}

.post-header {
  margin-bottom: 40px;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  /* width - style - color*/

  padding: 50px 0;
  width: 500px;
}

/* Smaller Elements */

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}

li:last-child {
  margin-bottom: 0;
}

/* footer p {
  font-size: 16px;
} */

/*
article header p {
  font-style: italic;
}
*/

#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
}

.related {
  list-style: none;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

/* .first-li {
  font-weight: bold;
} */

/* li:first-child {
  font-weight: bold;
} */

/* li:last-child {
  font-style: italic;
} */

/* li:nth-child(2) {
  color: red;
} */

/* this wont work */
/* article p:first-child {
  color: red;
} */

/* Styling links

use pseudo links to get access to all states of anchors

must be in below order 

*/

a:link {
  color: #1098ad;
  text-decoration: none; /* remove underline */
}

a:visited {
  /* display differently if clicked */
  /* color: gray; */
  color: #1098ad;
}

/* State of element  */

a:hover {
  color: purple;
  font-weight: bold;
  text-decoration: underline purple;
}

a:active {
  background-color: black;
  font-style: italic;
}

.post-img {
  width: 100%;
  /* only if set in html */
  height: auto;
}

nav a:link {
  /* background-color: purple;
  margin: 20px;
  padding: 20px;
  display: block; */


  margin-right: 30px;
  margin-top: 10px;
  display: inline-block;
}

/* remove last elements padding to make an even spread amongst all elements */
nav a:link:last-child {
  margin-right: 0;
}




/* Resolving Conflicts */

/* (1,0,0)
#copyright {
  color: red;
}

/* (0,1,0) */
/* .copyright {
  color: yellow;
} */

/* (0,1,0) */
/* .text {
  color: green;
} */

/* (0,0,2) */
/* footer p {
  color: blue !important;
}  */

/* Inheritance */

/* nav a:link, nav p {
  font-size: 22px;
} */
